.button {
  padding: 8px 15px;
  background-color: #2ec76d;
  border: none;
  color: white;
  font-weight: lighter;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #258d50;
}
